@import '../../styles/MainUtil';

.suratItems {
    @include breakpoint(768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(992px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.suratItem {
    display: flex;

    @include breakpoint(768px) {
        width: 50%;
    }

    @include breakpoint(992px) {
        width: 33.333333%;
    }
}

.innerItem {
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    @include defaultTransition;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        background-color: rgba($black, 0.02);
    }
}

.detailItem {
    display: flex;
    align-items: center;
    padding-left: .5rem;
}

.leftDetailItem {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main;
    // @include defaultTransition;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main;
        @include rotate(45deg);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        border: 1px solid $main;
        @include borderRadius(50%);
    }

    &>* {
        position: relative;
        z-index: 1;
    }


    span.number {
        color: $main;
        font-weight: 600;
        font-size: 70%;
    }
}

.rightDetailItem {
    margin-left: 1rem;
}

.upperRightDetailItem {
    margin-bottom: .2rem;

    span {
        font-weight: 500;
    }
}

.bottomRightDetailItem {
    font-size: 80%;

    span {
        &:last-child {
            &::before {
                content: ' | ';
            }
        }
    }
}

.graphItem {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    @include arabicCalligraphy;
    line-height: 1;
}