@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Reem+Kufi&display=swap');

@font-face {
    font-family: 'UthmanTahaNask';
    src: url('../public/data/font/UthmanTahaNaskh/UthmanTahaNaskhRegular.woff') format('woff'),
        url('../public/data/font/UthmanTahaNaskh/UthmanTahaNaskhRegular.ttf') format('truetype');
    font-display: swap;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    position: relative;
}

input,
button,
textarea {

    &:focus,
    &:active,
    &:hover {
        outline: none;
    }
}