@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400&family=Quicksand:wght@400;500;600&family=Reem+Kufi&display=swap');

html,
body {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

input,
button,
textarea {

    &:focus,
    &:active,
    &:hover {
        outline: none;
    }
}